---
---

@import "minima";

.wrapper {
  max-width: -webkit-calc(900px - (30px * 2));
  max-width: calc(900px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; 
}

.area-listing {
	padding-bottom: 50px;
}

.center {
	position: relative;
	top: 50%;
}